.hosting .card {
  display: flex;
  border-radius: 25px;
  padding: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.hosting .card--body {
  line-height: 1.6;
  margin: 10px 20px;
}

.hosting .card .card__stars--star {
  color: var(--grey-color);
}

.hosting .card .card__stars--star.active {
  color: var(--blue-color);
}

.hosting .card:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
}

.hosting--city .card {
  flex-direction: column;
  flex: 1 0 250px;
}
.hosting--city .card .card--image {
  height: 130px;
  position: relative;
  overflow: hidden;
}

.hosting--city .card .card--image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.hosting--popular .card {
  flex-direction: row;
  flex: 1 0 350px;
}
.hosting--popular .card .card--image {
  width: 40%;
  height: 160px;
  aspect-ratio: 4 / 3;
}

.hosting--popular .card .card--image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
}

.hosting--popular .card .card--body {
  position: relative;
}

.hosting--popular .card .card__body--stars {
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1440px) {
  .hosting {
    flex-direction: column-reverse;
  }
  .hosting .hosting--city {
    width: 100%;
  }
  .hosting--city .card {
    flex: 1 0 316px;
  }

  .hosting .hosting--popular {
    width: 100%;
  }
  .hosting--popular .card {
    flex-direction: row;
    flex: 1 1 auto;
    width: 50px;
    min-height: 180px;
  }
  .hosting--popular .card .card--image {
    width: 33%;
    height: 100%;
  }
}

@media only screen and (max-width: 992px) {
  .hosting--city .card {
    margin: 0;
    flex: 1 0 250px;
  }
  .hosting--popular .card {
    flex: 1 0;
    margin: 0 60px;
    width: 80%;
  }
  .hosting--popular .card .card--image {
    height: auto;
  }
}
/* rull for cellphone */
@media only screen and (max-width: 768px) {
  .hosting--city .card {
    flex: 1 0 310px;
    margin: auto;
    width: 80%;
  }
  .hosting--popular .card {
    margin: auto;
    min-height: 150px;
    flex: 1 1 auto;
    width: 100%;
  }
}
@media only screen and (max-width: 375px) {
  .hosting .card i {
    font-size: 8px;
  }
  .hosting--city .card {
    margin: 0;
    flex: 1 0 150px;
  }
  .hosting--popular .card {
    min-height: 170px;
    flex: 1 0 auto;
  }
}
