@import url("styles.css");
@import url("icon.css");
@import url("header.css");
@import url("search.css");
@import url("hosting.css");
@import url("card.css");
@import url("activity.css");
@import url("footer.css");

* {
  box-sizing: border-box;
}
body {
  font-family: "Raleway", "Sans serif";
  color: var(--black-color);
}

.container {
  max-width: 1440px;
  margin: auto;
}
section {
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

i {
  font-size: 20px;
}
.capital {
  text-transform: capitalize;
}

.strong {
  font-weight: 700;
}

.float--right {
  float: right;
}
.hidden {
  display: none;
}

/* rull for tablet */
@media only screen and (max-width: 992px) {
  body {
    font-size: 14px;
  }
  .container {
    margin: 0px 50px;
  }
  h1 {
    font-size: 1.5em;
  }
}
/* rull for cellphone */
@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
  .container {
    margin: 0;
  }
}
