.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .header--nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .header--nav li{
    float: left;
}

.header .header--nav li a{
    display: block;
    padding: 40px;
    color: var(--black-color);
    text-decoration: none;
}

.header .header--nav li a:hover:not(.active){    
    color: var(--blue-color);
    border-top: 2px solid;    
}

.header .header--nav li a.active{    
    color: var(--blue-color);
    border-top: 2px solid;    
}