/* CSS pseudo-element styling */

/* general reset/setup styling for icons - needed on all */
.icon::before {
    display: none;  /* See https://fontawesome.com/docs/web/add-icons/pseudo-elements#css-pseudo-elements-with-our-svg-js-framework */
  }
  
  /* defining the right unicode values for each icon */
  .icon-award::before {
    content: "\f559";
  }
  
  .icon-figma::before {
    content: "\f799";
  }
  
  .icon-solid::before {
    font: var(--fa-font-solid);
  }
  
  .icon-regular::before {
    font: var(--fa-font-regular);
  }
  
  .icon-light::before {
    font: var(--fa-font-light);
  }
  
  .icon-duotone::before {
    font: var(--fa-font-duotone);
  }
  
  .icon-brands::before {
    font: var(--fa-font-brands);
  }
    
  .demo-frame {
    /* making a nice frame/layout for examples */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -1rem;
    padding: 3rem;
    min-height: 100vh;
    color: rgb(52, 58, 64);
  }
  
  .demo-example {
    /* individual demo example styling */
    margin-bottom: 1rem;
  }
  
  .demo-icon-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .demo-icon {
    margin: 0;
    padding: 1.5rem 1rem;
  }
  
  .svg-inline--fa {
    margin-right: 0.5rem;
  }