.search--form {
display: flex;
flex-direction: row;
align-items: center;
margin: 20px 0 20px 0;
}
.search--form i{

}
.search--form input{
    border: 2px solid var(--background-grey);
    padding: 18px;
}
.search--form input:focus, .search--form input:focus-visible{
    border: 2px solid var(--blue);
    padding: 18px;
}
.search--form button{

}

.search__form--icon{
    background-color: var(--background-grey);
    padding: 20px;
    border-radius: 20px 0 0 20px;
    text-align: center;
}